:root {
    --main-font: "Playfair Display", serif;
    --font-size: 18px;
}

html {
    font-family: var(--main-font);
    font-size: var(--font-size);
}

body {
    display: grid;
    margin-top: 20px;
    margin-bottom: 0px;
}

@media screen and (min-width: 700px) {
    body {
        margin-left: 200px;
        margin-right: 200px;
    }
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 20px 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0;
}

p {
    text-align: justify;
}

#bookList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 150px;
}

.book-card {
    border: 1px solid black;
    border-radius: 5px;
    padding: 25px;
}

.book-card > h3 {
    margin-bottom: 0;
}

.book-card > p:first-of-type {
    font-style: italic;
    margin-top: 5px;
}

.book-card > p {
    white-space: nowrap;
}